#img-zoomer-box {
    max-width: 500px;
    height: auto;
    position: relative;
    margin: 10px auto;
}

#img-1 {
    width: 100%;
    height: auto;
}


#img-zoomer-box:hover, #img-zoomer-box:active {
    cursor: zoom-in;
    display: block;
}

#img-zoomer-box:hover #img-2, #img-zoomer-box:active #img-2 {
    opacity: 1;
}
#img-2 {
    width: 350px;
    height: 350px;
    box-shadow: 0 5px 10px -2px rgba(0,0,0,0.3);
    pointer-events: none;
    position: absolute;
    opacity: 0;
    border: 4px solid whitesmoke;
    z-index: 99;
    border-radius: 100%;
    display: block;
    transition: opacity .2s;
}