<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="TreeShop49 Template">
    <meta name="keywords" content="TreeShop49, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
    <link rel="icon" th:href="@{/icon/icon.png}" type="shorcut icon/png">
    <!-- Login -->
    <link th:href="@{/web/css/login-register.css}" rel="stylesheet"/>

    <!-- Css Styles -->
    <link rel="stylesheet" th:href="@{/web/css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/web/css/font-awesome.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/web/css/elegant-icons.css}" type="text/css">
<!--    <link rel="stylesheet" th:href="@{/web/css/nice-select.css}" type="text/css">-->
    <link rel="stylesheet" th:href="@{/web/css/jquery-ui.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/web/css/owl.carousel.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/web/css/slicknav.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/web/css/style.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/web/css/img-detail-zoom.css}" type="text/css">
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js}"
            type="text/javascript"></script>
    <script type="text/javascript">
        function checkClientSession() {
            window.location.assign("/home/list-web-product");
        }
    </script>
</head>

<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Humberger Begin -->
<div class="humberger__menu__overlay"></div>
<div class="humberger__menu__wrapper">
    <div class="humberger__menu__logo">
        <a th:href="@{/home}"><img th:src="@{/web/img/logo.png}" alt=""></a>
    </div>
    <div class="humberger__menu__cart ">
        <ul>
            <li><a href="#"><i class="fa fa-heart"></i> <span>0</span></a></li>
            <li th:if="${session.client}"><a th:href="@{'/home/' + ${session.client.username} + '/cart/detail'}"><i
                    class="fa fa-shopping-bag"></i> <span>[[${numberProductInCart}]]</span></a></li>
            <li th:unless="${session.client}"><a th:href="@{/home/no-user/cart/detail}"><i
                    class="fa fa-shopping-bag"></i> <span>[[${numberProductInCart}]]</span></a></li>
        </ul>
    </div>
    <div class="humberger__menu__widget">
        <div class="header__top__right__auth">
            <a th:unless="${session.client}" href="#" data-toggle="modal" onclick="openLoginModal();"><i
                    class="fa fa-user"></i> Login</a>
        </div>
        &nbsp;&nbsp;
        <div class="header__top__right__language" th:if="${session.client}">
            <!--                            <img th:src="@{/web/img/language.png}" alt="">-->
            <div>Chào, [[${session.client.username}]]</div>
            <span class="arrow_carrot-down"></span>
            <ul>
                <li><a th:href="@{'/home/'+${session.client.username}+'/information'}">Thông tin cá nhân</a></li>
                <li><a th:href="@{/home/user/logout}">Đăng xuất</a></li>
            </ul>
        </div>
    </div>
    <nav class="humberger__menu__nav mobile-menu">
        <ul>
            <li><a th:href="@{/home}">Trang Chủ</a></li>
            <li><a th:href="@{/home/list-web-product}">Sản Phẩm</a></li>
            <li><a th:href="@{/home/post/list}">Tin Tức</a></li>
            <li><a th:href="@{/home/contact}">Liên Hệ</a></li>
        </ul>
    </nav>
    <div id="mobile-menu-wrap"></div>
    <div class="header__top__right__social">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-pinterest-p"></i></a>
    </div>
    <div class="humberger__menu__contact">
        <ul>
            <li><i class="fa fa-envelope"></i> treeshop49@gmail.com</li>
            <li>Vườn Cây Việt - Nâng Tầm Giá Trị Việt</li>
        </ul>
    </div>
</div>
<!-- Humberger End -->

<!-- Header Section Begin -->
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="header__top__left">
                        <ul>
                            <li><i class="fa fa-envelope"></i> treeshop49@gmail.com</li>
                            <li>Vườn Cây Việt - Nâng Tầm Giá Trị Việt</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="header__top__right">
                        <div class="header__top__right__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-pinterest-p"></i></a>
                        </div>
                        <div class="header__top__right__auth">
                            <a th:unless="${session.client}" href="#" data-toggle="modal" onclick="openLoginModal();"><i
                                    class="fa fa-user"></i> Đăng Nhập</a>
                        </div>
                        &nbsp;&nbsp;
                        <div class="header__top__right__language" th:if="${session.client}">
                            <!--                            <img th:src="@{/web/img/language.png}" alt="">-->
                            <div>Chào, [[${session.client.username}]]</div>
                            <span class="arrow_carrot-down"></span>
                            <ul>
                                <li><a th:href="@{'/home/'+${session.client.username}+'/information'}">Thông tin cá nhân</a></li>
                                <li><a th:href="@{/home/user/logout}">Đăng xuất</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="header__logo">
                    <a th:href="@{/home}"><img th:src="@{/web/img/logo.png}" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6">
                <nav class="header__menu">
                    <ul>
                        <li><a th:href="@{/home}">Trang Chủ</a></li>
                        <li><a th:href="@{/home/list-web-product}">Sản Phẩm</a></li>
                        <li><a th:href="@{/home/post/list}">Tin Tức</a></li>
                        <li><a th:href="@{/home/contact}">Liên Hệ</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="header__cart">
                    <ul>
                        <li><a href="#"><i class="fa fa-heart"></i> <span>0</span></a></li>
                        <li th:if="${session.client}"><a
                                th:href="@{'/home/' + ${session.client.username} + '/cart/detail'}"><i
                                class="fa fa-shopping-bag"></i> <span>[[${numberProductInCart}]]</span></a></li>
                        <li th:unless="${session.client}"><a th:href="@{/home/no-user/cart/detail}"><i
                                class="fa fa-shopping-bag"></i> <span>[[${numberProductInCart}]]</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="humberger__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>
<!-- Header Section End -->

<!-- Hero Section Begin -->
<section class="hero hero-normal" id="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>Danh Mục</span>
                    </div>
                    <ul>
                        <th:block th:each="category: ${categoryList}">
                            <li><a th:href="'/home/list-web-product/category/' + ${category.categoryId}"
                                   th:name="${category.categoryId}" th:value="${category.categoryId}">[[${category.categoryName}]]</a>
                            </li>
                        </th:block>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form th:action="@{/home/list-web-product/search/result}" method="get">
                            <div class="hero__search__categories">
                                Tất Cả
                            </div>
                            <input th:name="keyword" th:value="${keyword}" id="keyword" type="text" placeholder="Bạn cần tìm gì?" required>
                            <button type="submit" class="site-btn">TÌM KIẾM</button>
                        </form>
                    </div>
                    <div class="hero__search__phone">
                        <div class="hero__search__phone__icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="hero__search__phone__text">
                            <h5>0336269358</h5>
                            <span>Hỗ trợ 24/7</span>
                        </div>
                    </div>
                </div>
                <div class="hero__item set-bg" th:data-setbg="@{/web/img/hero/banner.jpg}" th:if="${home}">
                    <div class="hero__text">
                        <span>TREE SHOP</span>
                        <h2> Thả Ga Mua Sắm<br/>Cây Cảnh Nội Thất</h2>
                        <p>Miễn Phí Giao Hàng Cho Đơn Từ 9.999.000 VNĐ</p>
                        <a th:href="@{/home/list-web-product}" class="primary-btn">ĐẶT HÀNG NGAY</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" th:data-setbg="@{/web/img/breadcrumb.jpg}" th:if="${home == null and post_detail_flg == null}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Săn Sale Tháng 5 - Ngập Tràn Ưu Đãi</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="blog-details-hero set-bg" th:data-setbg="@{/web/img/blog/details/details-hero.jpg}" th:if="${post_detail_flg}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="blog__details__hero__text">
                    <h2>[[${post.title}]]</h2>
                    <ul>
                        <li>By HVH(Admin)</li>
                        <li>Posted: <span th:text="${#dates.format(post.createDate, 'dd-MM-yyyy')}"></span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<div layout:fragment="~{content}">
    <p>Changing contents</p>
</div>

<!-- Breadcrumb Section Begin -->


<footer class="footer spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__about__logo">
                        <a th:href="@{/home}"><img th:src="@{/web/img/logo.png}" alt=""></a>
                    </div>
                    <ul>
                        <li>Address: Số 1 Võ Văn Ngân, Linh Chiểu, Thủ Đức, Hồ Chí Minh</li>
                        <li>Phone: 0336269358</li>
                        <li>Email: treeshop49@gmail.com</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                <div class="footer__widget">
                    <h6>Hỗ Trợ Khách Hàng</h6>
                    <ul>
                        <li><a href="#">Hướng Dẫn Đặt Hàng</a></li>
                        <li><a href="#">Thông Tin Vận Chuyển</a></li>
                    </ul>
                    <ul>
                        <li><a href="#">Chính Sách Bảo Mật</a></li>
                        <li><a href="#">Bản Đồ Chỉ Đường</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="footer__widget">
                    <h6>Nhận Thông Báo Cùng Chúng Tôi</h6>
                    <form action="#">
                        <input type="text" placeholder="Nhập Email Của Bạn">
                        <button type="submit" class="site-btn">Đăng Ký</button>
                    </form>
                    <div class="footer__widget__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="footer__copyright">
                    <div class="footer__copyright__text">
                        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                            All rights reserved | This is <i class="fa fa-heart"
                                                                                aria-hidden="true"></i> <a
                                    th:href="@{/home}" target="_blank">TreeShop</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    </div>
                    <div class="footer__copyright__payment"><img th:src="@{/web/img/payment-item.png}" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->
<!--Begin Login Modal-->
<div class="modal fade login" id="loginModal">
    <div class="modal-dialog login animated">
        <div class="modal-content centered" style="width: 350px">
            <div class="modal-header">
                <h4 class="modal-title centered">Login with</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <div class="box">
                    <div class="content">
<!--                        <div class="social">-->
<!--                            <a class="circle github" href="#">-->
<!--                                <i class="fa fa-github fa-fw"></i>-->
<!--                            </a>-->
<!--                            <a id="google_login" class="circle google" href="#">-->
<!--                                <i class="fa fa-google-plus fa-fw"></i>-->
<!--                            </a>-->
<!--                            <a id="facebook_login" class="circle facebook" href="#">-->
<!--                                <i class="fa fa-facebook fa-fw"></i>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                        <div class="division">-->
<!--                            <div class="line l"></div>-->
<!--                            <span>or</span>-->
<!--                            <div class="line r"></div>-->
<!--                        </div>-->
                        <div class="error"></div>
                        <div class="form loginBox">
                            <form method="post" th:action="@{/home/user/check-login}" accept-charset="UTF-8"
                                  th:object="${user}">
                                <input id="email" class="form-control" type="text" placeholder="Email"
                                       th:name="username" required>
                                <input id="password" class="form-control" type="password" placeholder="Password"
                                       th:name="password" required>
                                <div><b> <span style="color:#6dced5" th:text="${errorMessage}"></span></b></div>
                                <input class="btn btn-default btn-login" type="submit" value="Đăng nhập">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="content registerBox" style="display:none;">
                        <div class="form">
                            <form method="post" html="{:multipart=>true}" data-remote="true"
                                  th:action="@{/home/user/register}" th:object="${user}" accept-charset="UTF-8">
                                <input id="usernamee" class="form-control" type="text" placeholder="Username"
                                       th:name="username" required>
                                <input id="passwordd" class="form-control" type="password" placeholder="Password"
                                       th:name="password" required>
                                <input id="fullname" class="form-control" type="text" placeholder="Fullname"
                                       th:name="fullname" required>
                                <input id="emaill" class="form-control" type="email" placeholder="Email"
                                       th:name="email" required>
                                <div><b> <span style="color:#6dced5" th:text="${registerMessage}"></span></b></div>
                                <br>
                                <!--                                <input id="password_confirmation" class="form-control" type="password" placeholder="Repeat Password" name="password_confirmation">-->
                                <input class="btn btn-default btn-register" type="submit" value="Đăng ký"
                                       name="commit">
                            </form>
                        </div>
                    </div>
                    <div class="box">
                        <div class="content sendVerifyBox" style="display:none;">
                            <div class="form">
                                <form method="post" html="{:multipart=>true}" data-remote="true"
                                      th:action="@{/home/verify}" accept-charset="UTF-8">
                                    <input class="form-control" type="text" placeholder="Username"
                                           th:name="username" required>
                                    <input class="form-control" type="email" placeholder="Email"
                                           th:name="email" required>
                                    <div><b> <span style="color:#6dced5" th:text="${verifyError}"></span></b></div>
                                    <br>
                                    <!--                                <input id="password_confirmation" class="form-control" type="password" placeholder="Repeat Password" name="password_confirmation">-->
                                    <input class="btn btn-default btn-verify" type="submit" value="Xác thực"
                                           name="commit">
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="content forgotPassBox" style="display:none;">
                            <div class="form">
                                <form method="post" html="{:multipart=>true}" data-remote="true"
                                      th:action="@{/home/forgot-pass}" accept-charset="UTF-8">
                                    <input class="form-control" type="text" placeholder="Username"
                                           th:name="username" required>
                                    <input class="form-control" type="email" placeholder="Email"
                                           th:name="email" required>
                                    <div><b> <span style="color:#6dced5" th:text="${verifyPassError}"></span></b></div>
                                    <br>
                                    <!--                                <input id="password_confirmation" class="form-control" type="password" placeholder="Repeat Password" name="password_confirmation">-->
                                    <input class="btn btn-default btn-verify" type="submit" value="Yêu cầu"
                                           name="commit">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="forgot login-footer">
                    <span><a href="javascript: showForgotPassForm();" class="a-color">Quên mật khẩu</a>
                            ?</span><br>
                    <span>
                     <span><a href="javascript: showSendVerifyForm();" class="a-color">Xác thực tài khoản</a>
                            ?</span><br>
                    <span>
                            <a href="javascript: showRegisterForm();" class="a-color">Đăng ký tài khoản</a>
                            ?</span>
                </div>
                <div class="forgot register-footer" style="display:none">
                    <span>Đã có tài khoản?</span>
                    <a href="javascript: showLoginForm();" class="a-color">Đăng nhập</a>
                </div>
                <div class="forgot verify-footer" style="display:none">
                    <span></span>
                    <a href="javascript: showLoginForm();" class="a-color">Đăng nhập</a>
                    <span> --- </span>
                    <a href="javascript: showRegisterForm();" class="a-color">Đăng ký</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Login Modal-->
<!-- Js Plugins -->
<script th:if="${errorMessage}" type="text/javascript" th:inline="javascript">
    $(document).ready(function () {
        openLoginModal();
    });
</script>
<script th:if="${registerMessage}" type="text/javascript" th:inline="javascript">
    let message = [[${registerMessage}]];
    if (message.includes("Tên đăng nhập")) {
        $(document).ready(function () {
            openRegisterModal();
        });
    } else {
        $(document).ready(function () {
            if(confirm([[${registerMessage}]])){
                location.assign("https://mail.google.com/mail");
            }
            // else{
            //
            // }
        });
    }
</script>
<script th:if="${verifyMessage}" type="text/javascript" th:inline="javascript">
    $(document).ready(function () {
        alert([[${verifyMessage}]]);
        openLoginModal();
    });
</script>
<script th:if="${verifyError}" type="text/javascript" th:inline="javascript">
    $(document).ready(function () {
        openSendVerifyForm();
    });
</script><script th:if="${verifyPassError}" type="text/javascript" th:inline="javascript">
    $(document).ready(function () {
        openForgotPassForm();
    });
</script>
<script th:if="${home}" type="text/javascript" th:inline="javascript">
    $('#hero').removeClass("hero-normal");
</script>
<script type="text/javascript" th:inline="javascript">
    $(function($) {
        let url = window.location.href;
        let urlHome = window.location.protocol + "//" + window.location.host + "/home";
        $('li a').each(function () {
            if (url.includes("/list-web-product")) {
                if(url.includes(this.href) && this.href !== urlHome) {
                    $(this).closest('li').addClass('active');
                }
            }
            else if(this.href === url) {
                $(this).closest('li').addClass('active');
            }
        });
    });
</script>
<script th:src="@{/web/js/jquery-1.10.2.js}" type="text/javascript"></script>
<script th:src="@{/web/js/bootstrap.js}" type="text/javascript"></script>
<script th:src="@{/web/js/login-register.js}" type="text/javascript"></script>

<script th:src="@{/web/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/web/js/bootstrap.min.js}"></script>
<!--<script th:src="@{/web/js/jquery.nice-select.min.js}"></script>-->
<script th:src="@{/web/js/jquery-ui.min.js}"></script>
<script th:src="@{/web/js/jquery.slicknav.js}"></script>
<script th:src="@{/web/js/mixitup.min.js}"></script>
<script th:src="@{/web/js/owl.carousel.min.js}"></script>
<script th:src="@{/web/js/main.js}"></script>


</body>

</html>