<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{decorator/web}">
<head>
    <meta charset="UTF-8">
    <title>Tree Shop - Tin Tức</title>
</head>
<body>
<div layout:fragment="~{content}">
    <!-- Blog Section Begin -->
    <section class="blog spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-5">
                    <div class="blog__sidebar">
                        <!--                        <div class="blog__sidebar__search">-->
                        <!--                            <form action="#">-->
                        <!--                                <input type="text" placeholder="Search...">-->
                        <!--                                <button type="submit"><span class="icon_search"></span></button>-->
                        <!--                            </form>-->
                        <!--                        </div>-->
                        <!--                        <div class="blog__sidebar__item">-->
                        <!--                            <h4>Categories</h4>-->
                        <!--                            <ul>-->
                        <!--                                <li><a href="#">All</a></li>-->
                        <!--                                <li><a href="#">Beauty (20)</a></li>-->
                        <!--                                <li><a href="#">Food (5)</a></li>-->
                        <!--                                <li><a href="#">Life Style (9)</a></li>-->
                        <!--                                <li><a href="#">Travel (10)</a></li>-->
                        <!--                            </ul>-->
                        <!--                        </div>-->
                        <div class="blog__sidebar__item">
                            <h4>Tin mới nhất</h4>
                            <div class="blog__sidebar__recent">
                                <th:block th:each="post : ${listTopNewest}">
                                    <a th:href="@{'/home/post/' + ${post.postsId} + '/detail'}"
                                       class="blog__sidebar__recent__item">
                                        <div class="blog__sidebar__recent__item__pic">
                                            <img th:src="@{${post.photosImageHeaderPath}}" alt="" style="width: 70px; height: 70px">
                                        </div>
                                        <div class="blog__sidebar__recent__item__text">
                                            <h6 th:text="${#strings.abbreviate(post.title, 65)}"></h6>
                                            <span th:text="${#dates.format(post.createDate, 'dd-MM-yyyy')}"></span>
                                        </div>
                                    </a>
                                </th:block>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-7">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6" th:each="post : ${listPost}">
                            <div class="blog__item">
                                <div class="blog__item__pic">
                                    <img th:src="@{${post.photosImageHeaderPath}}" alt=""
                                         style="width: 370px; height: 266px">
                                </div>
                                <div class="blog__item__text">
                                    <ul>
                                        <li><i class="fa fa-calendar-o"></i> <span
                                                th:text="${#dates.format(post.createDate, 'dd-MM-yyyy')}"></span></li>
                                        <!--                                        <li><i class="fa fa-comment-o"></i> 5</li>-->
                                    </ul>
                                    <h5>
                                        <a th:href="@{'/home/post/' + ${post.postsId} + '/detail'}"><span th:text="${#strings.abbreviate(post.title, 75)}"></span></a>
                                    </h5>
                                    <p th:text="${#strings.abbreviate(post.introduce, 200)}"></p>
                                    <a th:href="@{'/home/post/' + ${post.postsId} + '/detail'}" class="blog__btn">Chi
                                        tiết <span class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="product__pagination blog__pagination" th:if="${totalPages}">
                                <span th:each="i :${#numbers.sequence(1, totalPages)}">
                                    <a th:if="${i != currentPage}" th:href="@{'/home/post/list/'+ ${i}}">[[${i}]]</a>
                                    <a th:if="${i == currentPage}"
                                       style="background-color: #2c7659; pointer-events: none">[[${i}]]</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Section End -->
</div>
</body>
</html>