<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{decorator/web}">
<head>
    <meta charset="UTF-8">
    <title>Tree Shop</title>
</head>
<body>
<!-- Product Section Begin -->
<div layout:fragment="~{content}">
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-5">
                    <div class="sidebar">
                        <div class="sidebar__item">
                            <h4>Department</h4>
                            <ul>
                                <li><a href="#">Fresh Meat</a></li>
                                <li><a href="#">Vegetables</a></li>
                                <li><a href="#">Fruit & Nut Gifts</a></li>
                                <li><a href="#">Fresh Berries</a></li>
                                <li><a href="#">Ocean Foods</a></li>
                                <li><a href="#">Butter & Eggs</a></li>
                                <li><a href="#">Fastfood</a></li>
                                <li><a href="#">Fresh Onion</a></li>
                                <li><a href="#">Papayaya & Crisps</a></li>
                                <li><a href="#">Oatmeal</a></li>
                            </ul>
                        </div>
                        <div class="sidebar__item">
                            <h4>Price</h4>
                            <div class="price-range-wrap">
                                <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                                     data-min="10" data-max="540">
                                    <div class="ui-slider-range ui-corner-all ui-widget-header"></div>
                                    <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                                    <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                                </div>
                                <div class="range-slider">
                                    <div class="price-input">
                                        <input type="text" id="minamount">
                                        <input type="text" id="maxamount">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar__item">
                            <div class="latest-product__text">
                                <h4>Latest Products</h4>
                                <div class="latest-product__slider owl-carousel">
                                    <div class="latest-prdouct__slider__item">
                                        <a href="#" class="latest-product__item">
                                            <div class="latest-product__item__pic">
                                                <img th:src="@{/web/img/latest-product/lp-1.jpg}" alt="">
                                            </div>
                                            <div class="latest-product__item__text">
                                                <h6>Crab Pool Security</h6>
                                                <span>$30.00</span>
                                            </div>
                                        </a>
                                        <a href="#" class="latest-product__item">
                                            <div class="latest-product__item__pic">
                                                <img th:src="@{/web/img/latest-product/lp-2.jpg}" alt="">
                                            </div>
                                            <div class="latest-product__item__text">
                                                <h6>Crab Pool Security</h6>
                                                <span>$30.00</span>
                                            </div>
                                        </a>
                                        <a href="#" class="latest-product__item">
                                            <div class="latest-product__item__pic">
                                                <img th:src="@{/web/img/latest-product/lp-3.jpg}" alt="">
                                            </div>
                                            <div class="latest-product__item__text">
                                                <h6>Crab Pool Security</h6>
                                                <span>$30.00</span>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="latest-prdouct__slider__item">
                                        <a href="#" class="latest-product__item">
                                            <div class="latest-product__item__pic">
                                                <img th:src="@{/web/img/latest-product/lp-1.jpg}" alt="">
                                            </div>
                                            <div class="latest-product__item__text">
                                                <h6>Crab Pool Security</h6>
                                                <span>$30.00</span>
                                            </div>
                                        </a>
                                        <a href="#" class="latest-product__item">
                                            <div class="latest-product__item__pic">
                                                <img th:src="@{/web/img/latest-product/lp-2.jpg}" alt="">
                                            </div>
                                            <div class="latest-product__item__text">
                                                <h6>Crab Pool Security</h6>
                                                <span>$30.00</span>
                                            </div>
                                        </a>
                                        <a href="#" class="latest-product__item">
                                            <div class="latest-product__item__pic">
                                                <img th:src="@{/web/img/latest-product/lp-3.jpg}" alt="">
                                            </div>
                                            <div class="latest-product__item__text">
                                                <h6>Crab Pool Security</h6>
                                                <span>$30.00</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-7">
                    <div class="product__discount">
                        <div class="section-title product__discount__title">
                            <h2>Sale Off</h2> &nbsp; <span th:if="${listDiscountProduct.size() == 0}"> No sale off products </span>
                        </div>
                        <div class="row">
                            <div class="product__discount__slider owl-carousel">
                                <th:block th:if="${listDiscountProduct}" th:each="discountProduct :${listDiscountProduct}">
                                <div class="col-lg-4">
                                    <div class="product__discount__item">
                                        <div class="product__discount__item__pic set-bg"
                                             th:data-setbg="@{${discountProduct.photosImagePath}}">
                                            <div class="product__discount__percent">-[[${discountProduct.discountPercent}]]%</div>
                                            <ul class="product__item__pic__hover">
                                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                                <li><a th:href="@{'/home/add-product/' + ${discountProduct.productId}}"><i class="fa fa-shopping-cart"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="product__discount__item__text">
                                            <span>[[${discountProduct.categoryEntity.categoryName}]]</span>
                                            <h5><a href="#">[[${discountProduct.productName}]]</a></h5>
                                            <div class="product__item__price">[[${discountProduct.discountPrice}]]VND <span>[[${discountProduct.price}]]VND</span></div>
                                        </div>
                                    </div>
                                </div>
                                </th:block>
                            </div>
                        </div>
                    </div>
                    <div class="filter__item">
                        <div class="row">
                            <div class="col-lg-4 col-md-5">
                                <div class="filter__sort">
                                    <span>Sort By</span>
                                    <select>
                                        <option value="0">Default</option>
                                        <option value="0">Default</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="filter__found">
                                    <h6><span>[[${totalProducts}]]</span> Products found</h6>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-3">
                                <div class="filter__option">
                                    <span class="icon_grid-2x2"></span>
                                    <span class="icon_ul"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <th:block th:each="product :${listProduct}">
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__discount__item">
                                    <div class="product__discount__item__pic set-bg" th:data-setbg="@{${product.photosImagePath}}">
                                        <div th:if="${product.discountPercent != 0}" class="product__discount__percent">-[[${product.discountPercent}]]%</div>
                                        <ul class="product__item__pic__hover">
                                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                            <li><a th:href="@{'/home/add-product/' + ${product.productId}}"><i class="fa fa-shopping-cart"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="product__discount__item__text">
                                        <h5><a href="#">[[${product.productName}]]</a></h5>
                                        <div th:if="${product.discountPercent != 0}" class="product__item__price">[[${product.discountPrice}]]VND <span>[[${product.price}]]VND</span></div>
                                        <div th:if="${product.discountPercent == 0}" class="product__item__price">[[${product.price}]]VND</div>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </div>
                    <div class="product__pagination">
                        <span th:each="i :${#numbers.sequence(1, totalPages)}">
                            <a th:if="${i != currentPage}" th:href="@{'/home/list-web-product/'+ ${i}}">[[${i}]]</a>
                            <a th:if="${i == currentPage}" style="background-color: #2c7659; pointer-events: none">[[${i}]]</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- Product Section End -->
</body>
</html>