<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{decorator/admin}">
<head>
    <title>Shipper Profile</title>
</head>
<body>
<div class="main-content" layout:fragment="~{content}">
    <div class="main-content-inner">
        <div class="breadcrumbs" id="breadcrumbs">
            <script type="text/javascript">
                try {
                    ace.settings.check('breadcrumbs', 'fixed')
                } catch (e) {
                }
            </script>

            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a th:href="@{/admin/home}">Trang chủ</a>
                </li>
                <li class="active">Shipper Profile</li>
            </ul><!-- /.breadcrumb -->
        </div>

        <div class="page-header">
            <h1>
                &ensp;Shipper Profile Page
            </h1>

        </div><!-- /.page-header -->
        <div class="row">
            <div class="col-xs-12">
                <div id="user-profile-3" class="user-profile row">
                    <div class="col-sm-offset-1 col-sm-10">
                        <div class="space"></div>
                        <form class="form-horizontal" th:action="@{/admin/change-password}" method="post">
                            <div class="tabbable">
                                <ul class="nav nav-tabs padding-16">
                                    <li class="active">
                                        <a data-toggle="tab" href="#edit-basic">
                                            <i class="green ace-icon fa fa-pencil-square-o bigger-125"></i>
                                            Basic Info
                                        </a>
                                    </li>


                                    <li>
                                        <a data-toggle="tab" href="#edit-password">
                                            <i class="blue ace-icon fa fa-key bigger-125"></i>
                                            Password
                                        </a>
                                    </li>
                                </ul>

                                <div class="tab-content profile-edit-tab-content">
                                    <div id="edit-basic" class="tab-pane in active">
                                        <h4 class="header blue bolder smaller">General</h4>

                                        <div class="row">
                                            <div class="vspace-12-sm"></div>
                                            <div class="col-xs-12 col-sm-8">
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label no-padding-right" for="form-field-username">Username</label>

                                                    <div class="col-sm-8">
                                                        <input class="col-xs-12 col-sm-10" type="text" id="form-field-username" placeholder="Username" value="a" disabled/>
                                                    </div>
                                                </div>

                                                <div class="space-4"></div>

                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label no-padding-right" for="form-field-first">Name</label>

                                                    <div class="col-sm-8">
                                                        <input class="col-xs-12 col-sm-10" type="text" id="form-field-first" placeholder="Full Name" value="a" disabled/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="space"></div>
                                        <h4 class="header blue bolder smaller">Contact</h4>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-email">Email</label>

                                            <div class="col-sm-9">
																	<span class="input-icon input-icon-right">
																		<input type="email" id="form-field-email" value="nhuan" disabled/>
																		<i class="ace-icon fa fa-envelope"></i>
																	</span>
                                            </div>
                                        </div>

                                        <div class="space-4"></div>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-website">Website</label>

                                            <div class="col-sm-9">
																	<span class="input-icon input-icon-right">
																		<input type="url" id="form-field-website" value="tree-shop.com" disabled/>
																		<i class="ace-icon fa fa-globe"></i>
																	</span>
                                            </div>
                                        </div>

                                        <div class="space-4"></div>

                                        <div class="form-group">

                                        </div>

                                        <div class="space"></div>
                                        <h4 class="header blue bolder smaller">Social</h4>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-facebook">Facebook</label>

                                            <div class="col-sm-9">
																	<span class="input-icon">
																		<input type="text" value="treeshop" id="form-field-facebook" disabled/>
																		<i class="ace-icon fa fa-facebook blue"></i>
																	</span>
                                            </div>
                                        </div>

                                        <div class="space-4"></div>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-twitter">Twitter</label>

                                            <div class="col-sm-9">
																	<span class="input-icon">
																		<input type="text" value="treeshop" id="form-field-twitter" disabled/>
																		<i class="ace-icon fa fa-twitter light-blue"></i>
																	</span>
                                            </div>
                                        </div>
                                        <div class="space-4"></div>
                                    </div>


                                    <div id="edit-password" class="tab-pane">
                                        <div class="space-10"></div>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="newPass" >New Password</label>

                                            <div class="col-sm-9">
                                                <input name="newPass" type="password" id="newPass" onkeyup="checkPass()" required minlength="6"/>
                                            </div>
                                        </div>

                                        <div class="space-4"></div>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="conFPass" >Confirm Password</label>

                                            <div class="col-sm-9">
                                                <input name="conFPass" type="password" id="conFPass" onkeyup="checkPass()" required minlength="6"/>
                                                <span id='message'></span>
                                            </div>
                                        </div>

                                        <div class="clearfix form-actions">
                                            <div class="col-md-offset-3 col-md-9">
                                                <script  th:inline="javascript">
                                                    alert([[${message}]]);
                                                    location.href("/admin/home");
                                                </script>
                                                <button class="btn btn-info" th:type="submit" id="submit" disabled>
                                                    <i class="ace-icon fa fa-check bigger-110"></i>
                                                    Save
                                                </button>
                                                &nbsp; &nbsp;
                                                <button class="btn" type="reset">
                                                    <i class="ace-icon fa fa-undo bigger-110"></i>
                                                    Reset
                                                </button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </form>
                        <script th:inline="javascript">
                            function checkPass() {
                                if(document.getElementById('newPass').value === document.getElementById('conFPass').value) {
                                    document.getElementById('message').style.color = 'green';
                                    document.getElementById('message').style.font = 'Times';
                                    document.getElementById('message').innerHTML = 'Matching';
                                    document.getElementById('submit').disabled = false;
                                } else {
                                    document.getElementById('message').style.color = 'red';
                                    document.getElementById('message').style.font = 'Times';
                                    document.getElementById('message').innerHTML = 'No matching';
                                    document.getElementById('submit').disabled = true;
                                }
                            }
                        </script>
                    </div><!-- /.span -->
                </div><!-- /.user-profile -->
                <script th:src="@{/admin/assets/js/bootstrap.min.js}" type="text/javascript"></script>
                <script th:src="@{/admin/assets/js/ace-elements.min.js}" type="text/javascript"></script>
                <script th:src="@{/admin/assets/js/ace.min.js}" type="text/javascript"></script>
            </div>
        </div>
    </div>
</div>
</body>
</html>