<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{decorator/admin}">
<head>
    <meta charset="UTF-8">
    <title>Admin Manage Product</title>
    <style>
        .tColor {
            color: black;
        !important;
        }
    </style>
</head>
<body>
<div class="main-content" layout:fragment="~{content}">
    <div class="main-content-inner">
        <div class="breadcrumbs" id="breadcrumbs">
            <script type="text/javascript">
                try {
                    ace.settings.check('breadcrumbs')
                } catch (e) {
                }
            </script>

            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a th:href="@{/admin/home}">Trang chủ</a>
                </li>
                <li><a th:href="@{/admin/products/list}">Quản lí sản phẩm</a></li>
                <li class="active">[[${titlePage}]]</li>
            </ul><!-- /.breadcrumb -->
        </div>
        <div class="page-header">
            <h1>
                &ensp;[[${titlePage}]]
            </h1>

        </div><!-- /.page-header -->
        <div class="page-content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="alert alert-block alert-success" th:if="${errorMessage}">
                        <button type="button" class="close" data-dismiss="alert">
                            <i class="ace-icon fa fa-times"></i>
                        </button>

                        <i class="ace-icon fa fa-close red"></i>

                        Lỗi! Sản phẩm
                        <strong class="red">
                            [[${errorMessage}]]
                        </strong>
                        đã tồn tại.
                    </div>
                    <form class="form-horizontal" role="form" th:action="@{/admin/products/save}" method="post" enctype="multipart/form-data" th:object="${product}">
                        <input type="text" class="hidden" th:field="*{productId}" th:if="${edit}"/>
                        <div class="form-group">
                            <label class="col-sm-1 control-label no-padding-right" for="form-field-1">
                                Mã sản phẩm </label>
                            <div class="col-sm-5">
                                <input type="text" id="form-field-1" pattern="[a-zA-Z0-9.]{0,20}"
                                       title="Không chứa chữ có dấu, khoảng trắng và kí tự đặc biệt, tối đa 20 kí tự!"
                                       placeholder="Mã sản phẩm"
                                       class="col-xs-10 col-sm-5"
                                       onfocus="this.style.color='black'"
                                       th:field="*{productId}" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label no-padding-right" for="form-field-2">
                                Tên </label>

                            <div class="col-sm-5">
                                <input type="text" id="form-field-2" placeholder="Tên sản phẩm"
                                       class="col-xs-10 col-sm-5"
                                       onfocus="this.style.color='black'"
                                       th:field="*{productName}" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label no-padding-right" for="form-field-5">
                                Danh mục </label>

                            <div class="col-sm-3">
                                <select id="form-field-5" class="col-xs-10 col-sm-5 tColor"  th:field="${product.categoryId}" th:object="${listCategory}">
                                    <option th:each="i : ${listCategory}" th:value="${i.categoryId}" th:text="${i.categoryName}"  class="tColor"></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label no-padding-right" for="form-field-3">
                                Số lượng </label>

                            <div class="col-sm-2">
                                <input type="number" id="form-field-3" placeholder="Số lượng"
                                       class="col-xs-10 col-sm-5" onfocus="this.style.color='black'"
                                       th:field="*{unitInStock}"  required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label no-padding-right" for="form-field-4">
                                Giá </label>

                            <div class="col-sm-2">
                                <input type="number" id="form-field-4" placeholder="Giá"
                                       class="col-xs-10 col-sm-5" onfocus="this.style.color='black'"
                                       th:field="*{price}"  required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label no-padding-right" for="form-field-7">
                                Mô tả(tóm tắt)</label>

                            <div class="col-sm-6">
                                <textarea id="form-field-7" class="autosize-transition form-control tColor"
                                          onfocus="this.style.color='black'" th:field="*{description}" ></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label no-padding-right" for="form-field-11">
                                Chiều cao(cm) </label>

                            <div class="col-sm-2">
                                <input type="number" id="form-field-11" placeholder="Chiều cao"
                                       class="col-xs-10 col-sm-5" onfocus="this.style.color='black'"
                                       th:field="*{height}"  required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label no-padding-right" for="form-field-10">
                                Khối lượng(g)</label>

                            <div class="col-sm-2">
                                <input type="number" id="form-field-10" placeholder="Khối lượng"
                                       class="col-xs-10 col-sm-5" onfocus="this.style.color='black'"
                                       th:field="*{weight}"  required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label no-padding-right" for="id-input-file-2">
                                Hình ảnh
                                 </label>
                            <div class="col-sm-3">
                                <input type="file" name="fileImg" id="id-input-file-2" class="input-file" accept="image/*"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label no-padding-right" for="id-input-file-2"></label>
                            <div class="col-sm-3">
                                <img th:src="@{*{photosImagePath}}" style="width: 290px; height: 220px " id="thumbnail" alt="IMG Preview" accept="image/*"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-1 control-label no-padding-right" for="id-input-file-3">
                                Video
                            </label>
                            <div class="col-sm-3">
                                <input type="file"  id="id-input-file-3" class="input-file" name="fileVideo" accept="video/*,.mkv">
                            </div>
                        </div>
                        <input class="hidden" type="text" th:field="*{visit}">
                        <input class="hidden" type="text" th:field="*{length}">
                        <input class="hidden" type="text" th:field="*{width}">
                        <input class="hidden" type="text" th:field="*{discountPercent}">
                        <div class="form-group">
                            <label class="col-sm-1 control-label no-padding-right">
                                Mô tả(chi tiết)</label>

                            <div class="col-sm-10">
                                <div class="wysiwyg-editor" id="editor1" data-target="content"></div>
                            </div>
                            <textarea id="content" name="content" class="autosize-transition form-control tColor hidden"
                                      onfocus="this.style.color='black'" th:field="*{information}" ></textarea>
                        </div>
                        <br>
                        <div class="col-md-offset-1 col-md-9">
                            <button class="btn btn-info copy-editor" type="submit">
                                <i class="ace-icon fa fa-check bigger-110"></i>
                                Submit
                            </button>
                            &nbsp; &nbsp; &nbsp;
                            <button class="btn" type="reset">
                                <i class="ace-icon fa fa-undo bigger-110"></i>
                                Reset
                            </button>
                            &nbsp; &nbsp; &nbsp;
                            <button class="btn btn-inverse" type="button" onclick="canCelForm()">
                                <i class="ace-icon fa fa-arrow-circle-left bigger-110"></i>
                                Cancel
                            </button>
                        </div>
                    </form>
                    <script type="text/javascript" th:inline="javascript">
                        window.jQuery || document.write("<script th:src='@{/admin/assets/js/jquery.min.js}'>" + "<" + "/script>");
                    </script>
                    <script type="text/javascript" th:inline="javascript">
                        window.jQuery || document.write("<script th:src='@{/admin/assets/js/jquery1x.min.js}'>" + "<" + "/script>");
                    </script>
                    <!-- <![endif]-->

                    <![endif]-->
                    <script type="text/javascript" th:inline="javascript">
                        if ('ontouchstart' in document.documentElement) document.write("<script th:src='@{/admin/assets/js/jquery.mobile.custom.min.js}'>" + "<" + "/script>");
                    </script>
                    <script th:src="@{/admin/assets/js/bootstrap.min.js}" type="text/javascript"></script>
                    <script th:src="@{/admin/assets/js/ace-elements.min.js}" type="text/javascript"></script>
                    <script th:src="@{/admin/assets/js/ace.min.js}" type="text/javascript"></script>
                    <script th:src="@{/admin/assets/js/chosen.jquery.min.js}" type="text/javascript"></script>
                    <script th:src="@{/admin/assets/js/jquery.autosize.min.js}" type="text/javascript"></script>
                    <script th:src="@{/admin/assets/js/jquery.inputlimiter.1.3.1.min.js}" type="text/javascript"></script>

                    <script type="text/javascript" th:inline="javascript">
                        $(document).ready(
                            function () {
                                let content = [[${product.information}]];
                                $('#editor1').html(content);
                                $('#id-input-file-2').change(function (){
                                    showImageThumnail(this);
                                })
                            });
                        //edit content wysiwyg
                        $(".copy-editor").on("click", function() {

                            var targetName = $("#editor1").attr('data-target');
                            //alert(targetName);

                            $('#'+targetName).val($('#editor1').html());
                        });

                        jQuery(function($) {
                            $('textarea[class*=autosize]').autosize({append: "\n"});
                            // $('textarea.limited').inputlimiter({
                            //     remText: '%n character%s remaining...',
                            //     limitText: 'max allowed : %n.'
                            // });
                            function showErrorAlert(reason, detail) {
                                var msg = '';
                                if (reason === 'unsupported-file-type') {
                                    msg = "Unsupported format " + detail;
                                } else {
                                    //console.log("error uploading file", reason, detail);
                                }
                                $('<div class="alert"> <button type="button" class="close" data-dismiss="alert">&times;</button>' +
                                    '<strong>File upload error</strong> ' + msg + ' </div>').prependTo('#alerts');
                            }

                            $('#editor1').ace_wysiwyg({
                                toolbar:
                                    [
                                        'font',
                                        null,
                                        'fontSize',
                                        null,
                                        {name: 'bold', className: 'btn-info'},
                                        {name: 'italic', className: 'btn-info'},
                                        {name: 'strikethrough', className: 'btn-info'},
                                        {name: 'underline', className: 'btn-info'},
                                        null,
                                        {name: 'insertunorderedlist', className: 'btn-success'},
                                        {name: 'insertorderedlist', className: 'btn-success'},
                                        {name: 'outdent', className: 'btn-purple'},
                                        {name: 'indent', className: 'btn-purple'},
                                        null,
                                        {name: 'justifyleft', className: 'btn-primary'},
                                        {name: 'justifycenter', className: 'btn-primary'},
                                        {name: 'justifyright', className: 'btn-primary'},
                                        {name: 'justifyfull', className: 'btn-inverse'},
                                        null,
                                        // {name:'createLink', className:'btn-pink'},
                                        // {name:'unlink', className:'btn-pink'},
                                        null,
                                        null,
                                        null,
                                        {name: 'insertImage', className: 'btn-success'},
                                        null,
                                        null,
                                        'foreColor',
                                        null,
                                        {name: 'undo', className: 'btn-grey'},
                                        {name: 'redo', className: 'btn-grey'}
                                    ],
                                'wysiwyg': {
                                    fileUploadError: showErrorAlert
                                }
                            });
                            if (typeof jQuery.ui !== 'undefined' && ace.vars['webkit']) {

                                var lastResizableImg = null;

                                function destroyResizable() {
                                    if (lastResizableImg == null) return;
                                    lastResizableImg.resizable("destroy");
                                    lastResizableImg.removeData('resizable');
                                    lastResizableImg = null;
                                }

                                var enableImageResize = function () {
                                    $('.wysiwyg-editor')
                                        .on('mousedown', function (e) {
                                            var target = $(e.target);
                                            if (e.target instanceof HTMLImageElement) {
                                                if (!target.data('resizable')) {
                                                    target.resizable({
                                                        aspectRatio: e.target.width / e.target.height,
                                                    });
                                                    target.data('resizable', true);

                                                    if (lastResizableImg != null) {
                                                        //disable previous resizable image
                                                        lastResizableImg.resizable("destroy");
                                                        lastResizableImg.removeData('resizable');
                                                    }
                                                    lastResizableImg = target;
                                                }
                                            }
                                        })
                                        .on('click', function (e) {
                                            if (lastResizableImg != null && !(e.target instanceof HTMLImageElement)) {
                                                destroyResizable();
                                            }
                                        })
                                        .on('keydown', function () {
                                            destroyResizable();
                                        });
                                }
                                enableImageResize();
                            };
                        })
                        // end edit content wysiwyg
                        $('.input-file').ace_file_input({
                            no_file: 'No File ...',
                            btn_choose: 'Choose',
                            btn_change: 'Change',
                            droppable: false,
                            onchange: null,
                            thumbnail: false //| true | large
                            //whitelist:'gif|png|jpg|jpeg'
                            //blacklist:'exe|php'
                            //onchange:''
                            //
                        });

                        function showImageThumnail(fileInput){
                            file = fileInput.files[0];
                            reader = new FileReader();
                            reader.onload = function (e){
                                $('#thumbnail').attr('src', e.target.result)
                            };
                            reader.readAsDataURL(file);
                        }

                        var inputImg = document.getElementById('id-input-file-2');
                        inputImg.onchange = function () {
                            remove_icon = document.getElementsByClassName('remove');
                            remove_Img = remove_icon[0];
                            remove_Img.setAttribute("onclick","$('#thumbnail').removeAttr('src');");
                        };
                        //active current li
                        var a = document.getElementById('manage-products');
                        a.classList.toggle('active');
                        //cancel button
                        function canCelForm() {
                            window.location = "/admin/products/list";
                        }

                        if([[${edit}]] != null){
                            var element = document.getElementById('form-field-1');
                            element.removeAttribute("enabled", "");
                            element.setAttribute("disabled", "");
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>