<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{decorator/admin}">
<head>
    <meta charset="UTF-8">
    <title>Admin Manage Discount</title>
    <style>
        .modal-dialog {
            top: 150px  ;
            left: auto;
            right: auto;
            bottom: auto;
        }
    </style>
</head>
<body>
<div class="main-content" layout:fragment="~{content}">
    <div class="main-content-inner">
        <div class="breadcrumbs" id="breadcrumbs">
            <script type="text/javascript">
                try {
                    ace.settings.check('breadcrumbs')
                } catch (e) {
                }
            </script>

            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a th:href="@{/admin/home}">Trang chủ</a>
                </li>
                <li class="active">Quản lí giảm giá</li>
            </ul><!-- /.breadcrumb -->
        </div>
        <div class="page-header">
            <h1>
                &ensp;Danh sách giảm giá sản phẩm
            </h1>

        </div><!-- /.page-header -->
        <div class="page-content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="alert alert-block alert-success" th:if="${successMessage}">
                        <button type="button" class="close" data-dismiss="alert">
                            <i class="ace-icon fa fa-times"></i>
                        </button>
                        <i class="ace-icon fa fa-check green"></i>
                        <span th:utext="${successMessage}"></span>
                    </div>
                    <div class="alert alert-block alert-success" th:if="${errorMessage}">
                        <script type="text/javascript" th:inline="javascript">
                            alert([[${errorMessage}]]);
                        </script>
                    </div>
                    <div class="table-header">
                        Bảng kết quả
                    </div>
                    <!-- div.table-responsive -->
                    <!-- div.dataTables_borderWrap -->
                    <div class="table-responsive">
                        <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th >Mã </th>
                                <th>Tên</th>
                                <th class="hidden-480">Danh mục</th>
                                <th class="hidden-480" style="width: 187px">Hình ảnh</th>
                                <th>Giá</th>
                                <th>Giảm(%)</th>
                                <th class="hidden-480">Ngày thêm sản phẩm </th>
                                <th> Thao tác</th>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:each="product :${listProduct}">
                                <tr>
                                    <td>
                                        [[${product.productId}]]
                                    </td>
                                    <td>
                                        [[${product.productName}]]
                                    </td>
                                    <td class="hidden-480">
                                        <span th:text="${product.categoryEntity.categoryName}"></span>
                                    </td>
                                    <td class="hidden-480">
                                        <img th:title="${product.productName}" class="img-responsive"
                                             th:src="@{${product.photosImagePath}}"
                                             style="height: 130px" accept="image/*"/>
                                    </td>
                                    <td>
                                        [[${product.price}]]
                                    </td>
                                    <td>
                                        <strong>[[${product.discountPercent}]]</strong>
                                    </td>
                                    <td class="hidden-480">
                                        [[${product.createDate}]]
                                    </td>
                                    <td>
                                        <div class="action-buttons">
                                            <div class="modal fade" th:id="${product.productId}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document" style="width: 220px">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <span class="widget-title" style="font-size: 16px"> &nbsp; <strong>Thêm % giảm giá </strong> </span>
                                                            <span class="widget-toolbar">
                                                                    <a href="#" data-dismiss="modal">
                                                                        <i class="ace-icon fa fa-times"></i>
                                                                    </a>
                                                            </span>
                                                        </div>
                                                        <div class="modal-body p-4 p-md-5">
                                                            <div class="icon d-flex align-items-center justify-content-center">
                                                                <span class="ion-ios-person"></span>
                                                            </div>
                                                            <div class="widget-body">
                                                                <div class="widget-main">
                                                                    <form class="form-horizontal" role="form" method="post" th:action="@{/admin/discount/add-percent}">
                                                                        <div>
                                                                            <label th:for="'form-field-mask-1' + ${product.productId}">
                                                                                Mã sản phẩm:
                                                                            </label>
                                                                            <span class="text"  th:id="'form-field-mask-1' + ${product.productId} "> [[${product.productId}]]</span>
                                                                            <input class="hidden" type="text" th:name="productId" th:value="${product.productId}"/>
                                                                        </div>
                                                                        <div>
                                                                            <div>
                                                                                <label th:for="${product.productId}">
                                                                                    Giảm:
                                                                                </label>
                                                                                <div class="input-group">
                                                                                    <input class="form-control" pattern="[0-9]{0,3}" title="Chỉ bao gồm số lớn hơn 0 và lớn nhất là 100%" th:id="${product.productId}" th:value="${product.discountPercent}" th:name="inputPercent" style="width: 55px; height: 25px"
                                                                                           type="text" maxlength="3" th:attr="onkeyup='checkInput(' + ${product.productId} +')'"/>%
                                                                                </div>
                                                                            </div>
                                                                            <br>
                                                                            <div>
                                                                                &nbsp;&nbsp;<button type="submit" id="submit" style="background-color: darkseagreen; height: 30px"  th:attr="onclick='checkInput(' + ${product.productId} +')'">
                                                                                <i class="ace-icon fa fa-upload bigger-110"></i>
                                                                                Thêm
                                                                            </button>
                                                                            </div>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <a title="Thêm % giảm giá" class="green" data-toggle="modal" th:data-target="'#'+${product.productId}" >
                                                <i class="ace-icon fa fa-plus-circle bigger-130"></i>
                                            </a>
                                            <a title="Xóa % giảm giá" class="red"  th:href="@{'/admin/discount/delete-by-product/' + ${product.productId}}">
                                                <i class="ace-icon fa fa-close bigger-130"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </th:block>
                            </tbody>
                        </table>
                    </div>

                    <!--[if !IE]> -->
                    <script type="text/javascript" th:inline="javascript">
                        window.jQuery || document.write("<script th:src='@{/admin/assets/js/jquery.min.js}'>" + "<" + "/script>");
                    </script>
                    <script type="text/javascript" th:inline="javascript">
                        window.jQuery || document.write("<script th:src='@{/admin/assets/js/jquery1x.min.js}'>" + "<" + "/script>");
                    </script>
                    <!-- <![endif]-->

                    <![endif]-->
                    <script type="text/javascript" th:inline="javascript">
                        if ('ontouchstart' in document.documentElement) document.write("<script th:src='@{/admin/assets/js/jquery.mobile.custom.min.js}'>" + "<" + "/script>");
                    </script>
                    <script th:src="@{/admin/assets/js/bootstrap.min.js}" type="text/javascript"></script>

                    <!-- page specific plugin scripts -->
                    <script th:src="@{/admin/assets/js/jquery.dataTables.min.js}" type="text/javascript"></script>
                    <script th:src="@{/admin/assets/js/jquery.dataTables.bootstrap.min.js}"
                            type="text/javascript"></script>
                    <script th:src="@{/admin/assets/js/dataTables.tableTools.min.js}" type="text/javascript"></script>
                    <script th:src="@{/admin/assets/js/dataTables.colVis.min.js}" type="text/javascript"></script>
                    <!-- ace scripts -->
                    <script th:src="@{/admin/assets/js/ace-elements.min.js}" type="text/javascript"></script>
                    <script th:src="@{/admin/assets/js/ace.min.js}" type="text/javascript"></script>

                    <!-- inline scripts related to this page -->
                    <script type="text/javascript" th:inline="javascript">
                        function checkInput(x) {
                            console.log(x.value);
                            if(x.value > 100) {
                                x.value = "";
                                alert('Lớn nhất là 100%!');
                            }
                        }
                        jQuery(function ($) {
                            //initiate dataTables plugin
                            var table = $('#dynamic-table').DataTable({
                                responsive:true,
                                pageLength: 5,
                                lengthMenu: [5, 10, 20, 50],
                                bAutoWidth: false
                            });

                            //tooltip placement on right or left
                            function tooltip_placement(context, source) {
                                var $source = $(source);
                                var $parent = $source.closest('table')
                                var off1 = $parent.offset();
                                var w1 = $parent.width();

                                var off2 = $source.offset();
                                //var w2 = $source.width();

                                if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 3)) return 'right';
                                return 'left';
                            }
                            //active current li
                            var a = document.getElementById('manage-discount');
                            a.classList.toggle('active');
                        })
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>