<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{decorator/web}">
<head>
    <meta charset="UTF-8">
    <title>Chi Tiết Giỏ Hàng</title>
</head>
<body>
<!-- Shoping Cart Section Begin -->
<div layout:fragment="~{content}">
    <section class="shoping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__table">
                        <table>
                            <thead>
                            <tr>
                                <th class="shoping__product">Sản Phẩm</th>
                                <th>Đơn Giá</th>
                                <th>Số Lượng</th>
                                <th>Thành Tiền</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:if="${numberProductInCart == 0}">
                                <td class="shoping__cart__item" style="color: red;"><strong>Giỏ hàng trống</strong></td>
                            </tr>
                            <th:block th:each="item :${cartDetailList}">
                                <tr>
                                    <td class="shoping__cart__item">
                                        <a th:href="@{'/home/product/' + ${item.productsEntity.productId} + '/detail'}"><img
                                                style="height: 86px; width: 87px"
                                                th:src="@{${item.productsEntity.getPhotosImagePath()}}">
                                        </a>
                                        <h5>[[${item.productsEntity.getProductName()}]]</h5>
                                        <br>
                                        <h6 th:if="${item.productsEntity.getUnitInStock == 0}"
                                            style="color: red; font-family: Arial ">
                                            <strong>Đã hết hàng</strong></h6>
                                    </td>
                                    <td class="shoping__cart__price"><span th:remove="tag" th:text="${#numbers.formatDecimal(item.price, 0, 'POINT', 0, 'POINT')} + '₫'"></span></td>
                                    <td class="shoping__cart__quantity">
                                        <div class="quantity">
                                            <div class="pro-qty">
                                                <input type="text" th:id="${item.cartIdKey.getProductId()}"
                                                       th:value="${item.quantity}"
                                                       th:name="${item.productsEntity.getUnitInStock()}"
                                                       class="quantity"/>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="shoping__cart__total"
                                        th:id="'subtotal' + ${item.cartIdKey.getProductId()}"><span th:remove="tag" th:text="${#numbers.formatDecimal(item.getTotalPerProduct(), 0, 'POINT', 0, 'POINT')} + '₫'"></span></td>
                                    <td class="shoping__cart__item__close">
                                        <a th:if="${session.client}"
                                           th:href="@{'/home/' + ${session.client.username} + '/cart/delete/' + ${item.cartIdKey.getProductId()}}"><span
                                                class="icon_close"></span></a>
                                        <a th:unless="${session.client}"
                                           th:href="@{'/home/no-user/cart/delete/' + ${item.cartIdKey.getProductId()}}"><span
                                                class="icon_close"></span></a>
                                    </td>
                                </tr>
                            </th:block>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__btns">
                        <a th:href="@{/home/list-web-product}" class="primary-btn cart-btn">TIẾP TỤC MUA HÀNG</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="shoping__continue">
                        <div class="shoping__discount" th:if="${session.client}">
                            <h5 th:unless="${session.discountCode}">Mã Giảm Giá (Nếu Có) </h5>
                            <h5 th:if="${session.discountCode}">Mã Giảm Giá </h5>
                            <div th:if="${session.discountCode}">
                            <span> Đã áp dụng mã <strong> [[${session.discountCode.getCodeId()}]]</strong> thành công,
                                giảm <strong>[[${session.discountCode.getDiscountPercent()}]]% </strong>giá trị đơn hàng.</span>
                                <br>
                                <br>
                                <a th:if="${session.discountCode}"
                                   th:href="@{'/home/'+ ${session.client.username} +'/cart/detail/delete-discount-code'}">
                                    <button class="btn-secondary"> Thử mã khác</button>
                                </a>
                            </div>
                            <form th:action="@{'/home/'+ ${session.client.username} +'/cart/detail/check-discount-code'}"
                                  method="post"
                                  th:unless="${session.discountCode}">
                                <input th:name="discountCode" type="text" placeholder="Nhập mã giảm giá" required>
                                <button type="submit" class="site-btn">ÁP DỤNG</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="shoping__checkout">
                        <h5>Tiền Giỏ Hàng</h5>
                        <ul>
                            <li>Tổng tiền hàng <span id="sub-total"></span></li>
                            <li th:if="${session.discountCode}">Giảm <span>[[${session.discountCode.getDiscountPercent()}]]%</span>
                            </li>
                            <li>Thành tiền <span id="all-total"></span></li>
                        </ul>
                        <a th:if="${session.client}"
                           th:href="@{'/home/' + ${session.client.username} + '/cart/check-out'}" class="primary-btn">TIẾN HÀNH THANH TOÁN</a>
                        <a th:unless="${session.client}" th:href="@{/home/no-user/cart/check-out}" class="primary-btn">TIẾN HÀNH THANH TOÁN</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script th:if="${alert}" type="text/javascript" th:inline="javascript">
        alert([[${alert}]])
    </script>
<!--    <script th:unless="${session.client}" type="text/javascript" th:inline="javascript">-->
<!--        checkClientSession();-->
<!--    </script>-->
    <script type="text/javascript" th:inline="javascript">
        $(document).ready(function () {
            updateTotal();
        });

        function  getCurrencyStr(val){
            let str = val.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&.');

            return str.substring(0, str.length - 3) + '₫';
        }

        function updateTotal() {
            total = 0;
            $('.shoping__cart__total').each(function (index, element) {
                totalPerProduct =  element.innerHTML.replace(/\D+/g, "");
                //total = total + parseInt(element.innerHTML);
                total = total + parseInt(totalPerProduct);
            });
            $('#sub-total').text(getCurrencyStr(total));
            if ([[${session.discountCode}]] != null) {
                total = parseInt(total * (100 - [[${session.discountPercent}]]) / 100);
            }
            // } else {
            //     $('#all-total').text(total);
            // }
            $('#all-total').text(getCurrencyStr(total));
        }

        var proQty = $('.pro-qty');
        proQty.prepend('<span class="dec qtybtn">-</span>');
        proQty.append('<span class="inc qtybtn">+</span>');
        proQty.on('change', '.quantity', function () {
            var $button = $(this);
            var oldValue = $button.parent().find('input').val();
            var maxUnit = parseFloat($button.parent().find('input')[0].name);
            var productId = $button.parent().find('input')[0].id;
            if (maxUnit > oldValue - 1) {
                var newVal = parseFloat(oldValue);
            } else {
                alert("Số lượng sản phẩm này trong kho chỉ còn " + maxUnit);
                newVal = maxUnit;
            }
            $button.parent().find('input').val(newVal);
            var url = "/home/cart/update/" + productId + "/" + newVal;
            $.ajax({
                type: "post",
                url: url,
            }).done(function (newSubtotal) {
                updateSubTotal(newSubtotal, productId);
                updateTotal();
            })
        });
        proQty.on('click', '.qtybtn', function () {
            var $button = $(this);
            var oldValue = $button.parent().find('input').val();
            var maxUnit = parseFloat($button.parent().find('input')[0].name);
            var productId = $button.parent().find('input')[0].id;
            if ($button.hasClass('inc')) {
                if (maxUnit > oldValue) {
                    var newVal = parseFloat(oldValue) + 1;
                } else {
                    alert("Số lượng sản phẩm này trong kho chỉ còn " + maxUnit);
                    newVal = maxUnit;
                }
            } else {
                if (maxUnit < oldValue) {
                    alert("Số lượng sản phẩm này trong kho chỉ còn " + maxUnit);
                    newVal = maxUnit;
                } else if (oldValue > 0) {
                    newVal = parseFloat(oldValue) - 1;
                } else {
                    newVal = 0;
                }
            }
            $button.parent().find('input').val(newVal);
            var url = "/home/cart/update/" + productId + "/" + newVal;
            $.ajax({
                type: "post",
                url: url,
            }).done(function (newSubtotal) {
                updateSubTotal(newSubtotal, productId);
                updateTotal();
            })
        });

        function updateSubTotal(newSubtotal, productId) {
            let subtotalStr = getCurrencyStr(parseInt(newSubtotal));
            $("#subtotal" + productId).text(subtotalStr);
        }
    </script>
</div>
<!-- Shoping Cart Section End -->

</body>
</html>